.jardinn_card_areas {
    text-align: center;
    width: 15rem;
    margin: 3%;

    h2 {
        text-align: center;
        color: cadetblue;
      }
  }

  .primariaa_card_areas {
    text-align: center;
    width: 15rem;
    margin: 3%;
    h2 {
        text-align: center;
        color: cadetblue;
      }
  }

  .secundariaa_card_areas {
    text-align: center;
    width: 15rem;
    margin: 3%;
    h2 {
        text-align: center;
        color: cadetblue;
      }
  }
  
  h3 {
    text-align: right;
    color: cadetblue;
    p {
        text-align: center;
      }
  }
  